input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus {

}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="time"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="color"]:disabled {
    
}



select {

}

select:focus {

}

textarea {
	width: 100%;
}

label {

}

/**
https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
https://codepen.io/aaroniker/pen/ZEYoxEY by Aaron Iker.
License: MIT.
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
    }
    
    input[type="checkbox"]:disabled,
	input[type="radio"]:disabled {
        
    }

	input[type="checkbox"] {

    }
    
    input[type="checkbox"]:focus {

    }

    input[type="checkbox"]:checked {
        
    }

	input[type="radio"] {

    }

    input[type="radio"]:focus {
        
    }

    input[type="radio"]:checked {
        
    }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	
}

/**
 * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="range"] {
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		width: 100%; /* Specific width is required for Firefox. */
    }

    input[type="range"]:disabled {

    }


	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		cursor: pointer;
	}

	input[type="range"]::-moz-range-thumb {
		cursor: pointer;
    }
    
}

fieldset {

}

fieldset legend {

}

fieldset input {

}

::-moz-placeholder {
	opacity: 1;
}