/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer__content {
    padding-top: calc(var(--gutter) / 2);
    padding-bottom: calc(var(--gutter) / 2);
    padding-left: var(--gutter-outer);
    padding-right: var(--gutter-outer);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gutter);

    max-width: var(--max-width-3);
    margin-left: auto;
    margin-right: auto;
}