/*--------------------------------------------------------------
# SELECTION COLOR
--------------------------------------------------------------*/
::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

/*--------------------------------------------------------------
# SCROLL OFFSET
--------------------------------------------------------------*/
[id] {
  scroll-margin-top: var(--gutter);
}