@media (max-width: 767px) {

  /*--------------------------------------------------------------
  # MOBILE NAV BURGER
  --------------------------------------------------------------*/
  .burger__label {
    display: block;
  }

  .burger__content .nav {
    display: none;
  }

  .burger__input:checked~.burger__content .nav {
    display: block;
  }

  .burger__content {
    position: relative;
  }

  /*--------------------------------------------------------------
  # Level 1
  --------------------------------------------------------------*/
  .nav--header {
    position: absolute;
    z-index: 10000;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-black);

    padding-top: calc(var(--gutter) / 2);
    padding-bottom: calc(var(--gutter) / 2);
  }

  .nav--header .nav__link {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    padding-top: calc(var(--gutter) / 2);
    padding-bottom: calc(var(--gutter) / 2);
  }

  .nav--header .nav__link--active,
  .nav--header .current-menu-parent>.nav__link {
    color: var(--color-1);
  }

  /*--------------------------------------------------------------
  # Level 2
  --------------------------------------------------------------*/
  .nav--header .nav--sub .nav__link {
    padding-left: calc(var(--gutter) * 1.5);
  }

  /*--------------------------------------------------------------
  # Level 3
  --------------------------------------------------------------*/
  .nav--header .nav--sub .nav--sub .nav__link {
    padding-left: calc(var(--gutter) * 2);
  }

}