.section--index .section__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: var(--gutter);
}

@media (min-width: 768px) {
    .section--index .section__content {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        gap: var(--gutter-outer);
    }
}

.main:not(.main--has-sidebar) .section--index .section__content {
    padding-left: var(--gutter-outer);
    padding-right: var(--gutter-outer);
}