/*--------------------------------------------------------------
# DEFAULT
--------------------------------------------------------------*/
.lc--padding {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

[id] {
  scroll-margin-top: var(--gutter);
}

/*--------------------------------------------------------------
# LAYOUT
--------------------------------------------------------------*/
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {}

.main {
  flex-grow: 1;
}

.footer {}
