/*--------------------------------------------------------------
# RESET NAV LIST STYLES
--------------------------------------------------------------*/
.nav,
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.burger__label {
  display: none;
}

/*--------------------------------------------------------------
# NAV PRIMARY - Usually Header
--------------------------------------------------------------*/
.nav--dropdown {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) * -1);
}

.nav--dropdown .nav__item {
  position: relative;
}

.nav--dropdown .nav__link {
  color: var(--color-1);
  background-color: var(--color-2);
  padding: calc(var(--gutter) / 2)  var(--gutter);
  margin-left: var(--gutter);
  white-space: nowrap;
}

.nav--dropdown .nav__item--active .nav__link {
  color: var(--color-5);
}

.nav--dropdown > .nav__item > ul {
  display: none;
  position: absolute;
}

.nav--dropdown .nav__item:hover > ul,
.nav--dropdown .nav__item:focus-within > ul {
  display: block;
}

/*--------------------------------------------------------------
# NAV SECONDARY - Usually Footer
--------------------------------------------------------------*/
.nav--inline {
  display: flex;
  margin-left: calc(var(--gutter) * -1);
}

.nav--inline .nav__item {
  margin-left: var(--gutter);
}


/*--------------------------------------------------------------
# NAV PAGINATION
--------------------------------------------------------------*/
.nav--pagination {
  display: flex;
  justify-content: space-between;

  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
}

.nav-next {
  margin-left: auto;
}

.nav-previous {
  margin-right: auto;
}