/*--------------------------------------------------------------
# CONTENT WIDTH GUTENBERG BLOCKS - DEFAULT SETTING
--------------------------------------------------------------*/
.alignfull,
.alignwide,
.aligncontent,
.entry-content > * {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - var(--gutter) * 4);
}

.entry-content > *:not(.alignwide):not(.alignfull) {
  max-width: var(--max-width-3);
}

/*--------------------------------------------------------------
# EXCEPTIONS - FULL WIDTH
  
  COVER
  IMAGE
  GROUP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# INNER CONTAINER WIDTH
--------------------------------------------------------------*/
.wp-block-cover > .wp-block-cover__inner-container,
.wp-block-group > .wp-block-group__inner-container,
.blocks-gallery-caption {
  max-width: var(--max-width-3);
}

.wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group__inner-container {
  /* margin collapse fix */
  overflow: auto;
}

/* like, who does this? */
.alignwide.wp-block-gallery > figcaption,
.alignfull.wp-block-gallery > figcaption {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - var(--gutter) * 4);
}

/*--------------------------------------------------------------
# ELEMENTS WITH BACKGROUND COLOR
--------------------------------------------------------------*/
.entry-content .has-background:not(.wp-block-media-text) {
  padding-left: calc(var(--gutter) * 2);
  padding-right: calc(var(--gutter) * 2);
}

/*--------------------------------------------------------------
# FULL WIDTH
--------------------------------------------------------------*/

/* WIDE */
.wp-block-cover.alignwide,
.wp-block-image.alignwide,
.wp-block-group.alignwide {
  width: 100%;
}

/* FULL */
.wp-block-cover.alignfull,
.wp-block-image.alignfull,
.wp-block-group.alignfull {
  width: 100%;
}

/*--------------------------------------------------------------
# MEDIA TEXT FIX
--------------------------------------------------------------*/
.wp-block-media-text .wp-block-media-text__content {
  padding: 0;
}

.wp-block-media-text {
  display: grid;
  grid-gap: calc(var(--gutter) * 2); 
}

@media (min-width: 600px) {
  .wp-block-media-text {
    grid-template-columns: 1fr 1fr;
  }
}



/*--------------------------------------------------------------
# FLOATED ELEMENTS FIX
--------------------------------------------------------------*/
.entry-content > .alignleft {
  margin-left: calc(50vw - var(--max-width-3) / 2);
}

.entry-content > .alignright {
  margin-right: calc(50vw - var(--max-width-3) / 2);
}

.entry-content .alignleft,
.entry-content .alignright {
  margin-top: 0;
  margin-bottom: var(--gutter);
  width: auto;
}

.entry-content .alignleft {
  margin-right: var(--gutter);
}

.entry-content .alignright {
  margin-left: var(--gutter);
}


.wp-block-cover, .wp-block-cover-image {
    padding: 0;
}

.wp-block-cover .wp-block-cover__inner-container {
    width: calc(100vw - var(--gutter) * 2);
    max-width: var(--max-width-3);
}