/*--------------------------------------------------------------
# RESET NAV LIST STYLES
--------------------------------------------------------------*/
.nav,
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.burger__input {
  display: none;
}

/*--------------------------------------------------------------
# NAV SECONDARY - Usually Footer
--------------------------------------------------------------*/
.nav--inline {
  display: flex;
  margin-left: calc(var(--gutter) * -1);
}

.nav--inline .nav__item {
  margin-left: var(--gutter);
}

/*--------------------------------------------------------------
# NAV PAGINATION
--------------------------------------------------------------*/
.nav--pagination {
  display: flex;
  justify-content: space-between;

  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
}

.nav-next {
  margin-left: auto;
}

.nav-previous {
  margin-right: auto;
}