@media (min-width: 768px) {

  /*--------------------------------------------------------------
  # NAV PRIMARY - Usually Header
  --------------------------------------------------------------*/
  .nav--header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    align-items: center;
  }

  .nav--header .nav__item {
    position: relative;
  }

  .nav--header .nav__link {
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
    padding-top: calc(var(--gutter) / 2);
    padding-bottom: calc(var(--gutter) / 2);
  }

  .nav--header .nav__link--active {
    color: var(--color-1);
  }

  .nav--header .nav__link:hover,
  .nav--header .nav__link:active,
  .nav--header .nav__link:focus {
    color: var(--color-1);
  }

  /*--------------------------------------------------------------
  # LEVEL 2
  --------------------------------------------------------------*/
  .nav--header .nav--sub {
    display: none;
    position: absolute;
    background-color: var(--color-black);
  }

  .nav--header>.nav__item:hover>.nav--sub,
  .nav--header>.nav__item:focus-within>.nav--sub {
    display: block;
  }

  /*--------------------------------------------------------------
  # LEVEL 3
  - Last menu items opens to the left instead of right
  --------------------------------------------------------------*/
  .nav--header .nav--sub>.nav__item:hover>.nav--sub,
  .nav--header .nav--sub>.nav__item:active>.nav--sub,
  .nav--header .nav--sub>.nav__item:focus>.nav--sub,
  .nav--header .nav--sub>.nav__item:focus-within>.nav--sub {
    display: block;
  }

  .nav--header .nav__item--active>.nav__link,
  .nav--header .current_page_ancestor>.nav__link {
    color: var(--color-1);
  }

  .nav--header .nav--sub .nav--sub {
    left: 100%;
    top: 0;
  }

  .nav--header>.nav__item:last-child .nav--sub .nav--sub {
    right: 100%;
    left: initial;
  }
}