/*--------------------------------------------------------------
# BRANDING - LOGO
    DEFAULT SETTINGS FOR EVERY PROJECT
--------------------------------------------------------------*/
.site-branding__logo-link {
    display: block;
}

.site-branding__title-tagline {
    font-size: var(--font-size-1);
}

.site-branding__logo-link {
    color: inherit;
    text-decoration: none;
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.header__content {

}
