/*--------------------------------------------------------------
# SELECTION COLOR
--------------------------------------------------------------*/
::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

/*--------------------------------------------------------------
  # SCROLL OFFSET
--------------------------------------------------------------*/
[id] {
    scroll-margin-top: var(--gutter);
}

/*--------------------------------------------------------------
# BASE LAYOUT
    - checkout what-the-phuc.com for layout ideas
--------------------------------------------------------------*/
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 

    padding-left: var(--gutter-outer);
    padding-right: var(--gutter-outer);
}

.header {
    margin-left: calc(var(--gutter-outer) * -1);
    margin-right: calc(var(--gutter-outer) * -1);
    padding-left: var(--gutter-outer);
    padding-right: var(--gutter-outer);
}

.main {
    flex-grow: 1;
    padding-bottom: calc(var(--gutter) * 3);
}

.footer {}


/*--------------------------------------------------------------
# LINK COLOR
--------------------------------------------------------------*/
a {
    color: var(--color-1);
}

/*--------------------------------------------------------------
  # WITHOUT SIDEBAR
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  # WITH ACTIVE SIDEBAR
--------------------------------------------------------------*/
.main--has-sidebar {

}

.main--has-sidebar>* {
    --max-width-1: initial;
    --max-width-2: initial;
    --max-width-3: initial;
    --gutter-outer: initial;
}

@media (min-width: 768px) {
    .main--has-sidebar {

    }
}

/*--------------------------------------------------------------
  # SIDEBAR
--------------------------------------------------------------*/
.sidebar {

}

@media (min-width: 768px) {
    .sidebar {

    }
}

.sidebar a {

}