/*--------------------------------------------------------------
# BASE LAYOUT
    - checkout what-the-phuc.com for layout ideas
--------------------------------------------------------------*/
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--color-black);
    color: var(--color-white);
}

.main {
    flex-grow: 1;
}

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
}