/*--------------------------------------------------------------
# CONTENT WIDTH GUTENBERG BLOCKS - DEFAULT SETTING
--------------------------------------------------------------*/
.alignfull,
.alignwide,
.aligncontent,
.entry-content > * {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - var(--gutter) * 2);
}

.entry-content > *:not(.alignwide):not(.alignfull) {
  max-width: var(--max-width-3);
}

/*--------------------------------------------------------------
# EXCEPTIONS - FULL WIDTH
  Cover
  Image
--------------------------------------------------------------*/

.wp-block-cover:not(.alignwide):not(.alignfull),
.wp-block-cover.alignwide .wp-block-cover__inner-container,
.wp-block-cover.alignfull .wp-block-cover__inner-container {
  max-width: var(--max-width-3);
}

/* WIDE */
.wp-block-cover.alignwide,
.wp-block-image.alignwide {
  width: 100%;
}

/* FULL */
.wp-block-cover.alignfull,
.wp-block-image.alignfull {
  width: 100%;
}
