/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
  background-color: var(--color-black);
  color: var(--color-white);

  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-top: var(--gutter);
}
