/*--------------------------------------------------------------
# CONTENT WIDTH GUTENBERG BLOCKS - DEFAULT SETTING
--------------------------------------------------------------*/
.alignfull,
.alignwide,
.aligncontent,
.entry-content > * {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - var(--gutter) * 2);
}

.entry-content > *:not(.alignwide):not(.alignfull) {
  max-width: var(--max-width-3);
}

/*--------------------------------------------------------------
# EXCEPTIONS - FULL WIDTH
  
  COVER
  IMAGE
  GROUP
--------------------------------------------------------------*/
.wp-block-cover__inner-container,
.wp-block-group__inner-container {
  max-width: var(--max-width-3);
}

.wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
  padding: var(--gutter);
}

/* WIDE */
.wp-block-cover.alignwide,
.wp-block-image.alignwide,
.wp-block-group.alignwide {
  width: 100%;
}

/* FULL */
.wp-block-cover.alignfull,
.wp-block-image.alignfull,
.wp-block-group.alignfull {
  width: 100%;
}
