.block__title {
    margin-top: 0;
}

/*--------------------------------------------------------------
# BLOCK NONE
--------------------------------------------------------------*/
.block--none {
    padding-left: var(--gutter-outer);
    padding-right: var(--gutter-outer);

    max-width: var(--max-width-3);
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# BLOCK INDEX
--------------------------------------------------------------*/
.block--index {
    padding-left: var(--gutter-outer);
    padding-right: var(--gutter-outer);

    max-width: var(--max-width-3);
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# BLOCK PAGE DETAIL
--------------------------------------------------------------*/
.block--pagedetail {
    max-width: var(--max-width-3);
    margin-left: auto;
    margin-right: auto;
}

.block--pagedetail .block__content {
    margin-left: calc(var(--gutter-outer) * -1);
    margin-right: calc(var(--gutter-outer) * -1);

    padding-left: var(--gutter-outer);
    padding-right: var(--gutter-outer);
}

/*--------------------------------------------------------------
# BLOCK POST DETAIL
--------------------------------------------------------------*/
.block--postdetail {
    padding-left: var(--gutter-outer);
    padding-right: var(--gutter-outer);

    max-width: var(--max-width-3);
    margin-left: auto;
    margin-right: auto;
}