/*--------------------------------------------------------------
# CONTENT WIDTH GUTENBERG BLOCKS - DEFAULT SETTING
--------------------------------------------------------------*/
.alignfull,
.alignwide,
.aligncontent,
.entry-content > *,
.alignwide.wp-block-gallery > figcaption,
.alignfull.wp-block-gallery > figcaption {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - var(--gutter) * 2);
}

.entry-content > *:not(.alignwide):not(.alignfull) {
  max-width: var(--max-width-3);
}

/*--------------------------------------------------------------
# VERTICAL RHYTHM
--------------------------------------------------------------*/
.entry-content * {
  margin-top: 0;
  margin-bottom: 0;
}

/* exceptions defined in not */
.entry-content * + *:not(li):not(.wp-block-media-text__content):not(.wp-block-column) {
  margin-top: var(--gutter);
}

/*--------------------------------------------------------------
# EXCEPTIONS - FULL WIDTH
  
  COVER
  IMAGE
  GROUP
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# INNER CONTAINER WIDTH
--------------------------------------------------------------*/
.wp-block-cover > .wp-block-cover__inner-container,
.wp-block-group > .wp-block-group__inner-container,
.blocks-gallery-caption {
  max-width: var(--max-width-3);
}

.wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group__inner-container {
  /* margin collapse fix */
  overflow: auto;
}

/*--------------------------------------------------------------
# ELEMENTS WITH BACKGROUND COLOR
--------------------------------------------------------------*/
.wp-block-group.has-background {
  padding-left: calc(var(--gutter) * 1);
  padding-right: calc(var(--gutter) * 1);
}

/*--------------------------------------------------------------
# FULL WIDTH
--------------------------------------------------------------*/

/* WIDE */
.wp-block-cover.alignwide,
.wp-block-image.alignwide,
.wp-block-group.alignwide {
  width: 100%;
}

/* FULL */
.wp-block-cover.alignfull,
.wp-block-image.alignfull,
.wp-block-group.alignfull {
  width: 100%;
}












/*--------------------------------------------------------------
# MEDIA TEXT
- wp-block-media-text 
- has-media-on-the-right 
- is-stacked-on-mobile 
- is-image-fill
--------------------------------------------------------------*/
.wp-block-media-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--gutter);
}

.wp-block-media-text:not(.is-image-fill) {
  align-items: center;
}

/* has-media-on-the-right */
.wp-block-media-text.has-media-on-the-right {
  direction: rtl;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content,
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
  direction: ltr;
}

/* is-stacked-on-mobile */
.wp-block-media-text.is-stacked-on-mobile {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* is-image-fill */
.is-image-fill .wp-block-media-text__media {
  background-size: cover;
}
.is-image-fill .wp-block-media-text__media img {
  display: none;
}

/* is-stacked-on-mobile & is-image-fill */
.is-image-fill.is-stacked-on-mobile .wp-block-media-text__media {
  min-height: 200px;
}

/*--------------------------------------------------------------
# BLOCK COLUMNS
--------------------------------------------------------------*/
.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.wp-block-column {
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: calc((60rem - 100%) * 999); */

    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

@media (min-width: 768px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }

    .wp-block-column[style*=flex-basis] {
        flex-grow: 0;
    }

    .wp-block-column {
        flex-basis: 0;
    }
}

/*--------------------------------------------------------------
# BLOCK BUTTON
--------------------------------------------------------------*/
.wp-block-button__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
