/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
 background-color: var(--color-black);
 color: var(--color-white);

 padding-top: var(--gutter);
 padding-bottom: var(--gutter);
}

.footer__content {
    max-width: var(--max-width-2);
    margin-left: auto;
    margin-right: auto;
}