/*--------------------------------------------------------------
# RESET NAV LIST STYLES
--------------------------------------------------------------*/
.nav,
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.burger__input {
  display: none;
}

.burger__label {
  display: none;
  cursor: pointer;
}

/*--------------------------------------------------------------
# NAV SECONDARY - Usually Footer
--------------------------------------------------------------*/
.nav--footer {
  display: flex;
  gap: calc(var(--gutter) * .5);
}

.nav--footer .nav__link {
  display: block;
  padding-top: calc(var(--gutter) / 2);
  padding-bottom: calc(var(--gutter) / 2);
}

/*--------------------------------------------------------------
# NAV PAGINATION
--------------------------------------------------------------*/
.nav--pagination {
  display: flex;
  justify-content: space-between;

  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
}

.nav-next {
  margin-left: auto;
}

.nav-previous {
  margin-right: auto;
}