/*--------------------------------------------------------------
# VARIABLES
  - either set variables in customizer or
  - copy variables from parent theme and override it here
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONT FAMILY
--------------------------------------------------------------*/
:root {
  --font-family-1: sans-serif;
  --font-family-2: serif;
  --font-family-3: monospace;
}

/*--------------------------------------------------------------
# SPACING
--------------------------------------------------------------*/
:root {
  --gutter: 2.4rem;
  --gutter-outer: var(--gutter);
  --vertical-rhythm: var(--gutter);
}

@media (min-width: 768px) {
  :root {
    --gutter-outer: calc(var(--gutter) * 4);
  } 
}