/*--------------------------------------------------------------
# GUTTER
TODO: Add to Customizer
--------------------------------------------------------------*/
:root {
  --gutter: 2.4rem;
  --gutter-description: var(--font-size);
}

/*--------------------------------------------------------------
# LAYOUT WIDTH
Wordpress Customizer Setting will override this because it's inline
--------------------------------------------------------------*/
:root {
  --max-width-1: 100%;
  --max-width-2: 128rem;
  --max-width-3: 76.8rem;
}

/*--------------------------------------------------------------
# COLORS - FALLBACK
Wordpress Customizer Setting will override this because it's inline
--------------------------------------------------------------*/
:root {
  --color-white: #fff;
  --color-black: #000;

  --color-1: #0cb4ce;
  --color-2: #444;
  --color-3: #1595a9;

  --color-4: #fff;
  --color-5: #fff;
  --color-6: #fff;
}

/*--------------------------------------------------------------
# FONT - FALLBACK
Wordpress Customizer Setting will override this because it's inline
--------------------------------------------------------------*/
:root {
  /* Font Family */
  /* --font-family: "Hind", serif;
  --font-family-2: "Open Sans", serif; */

  --font-family: sans-serif;
  --font-family-2: serif;

  /* Modular Scale */
  --font-size: 1.6rem;
  --font-size-ratio: 1.125;
  --line-height: 1.6;
}

/*--------------------------------------------------------------
# LINE HEIGHT
TODO: Add to Customizer for each font size
--------------------------------------------------------------*/
:root {
  --line-height-a: var(--line-height);
  --line-height-b: var(--line-height);
  --line-height-c: var(--line-height);

  --line-height-0: var(--line-height);
  --line-height-1: var(--line-height);
  --line-height-2: var(--line-height);
  --line-height-3: var(--line-height);
  --line-height-4: var(--line-height);
  --line-height-5: var(--line-height);
  --line-height-6: var(--line-height);
  --line-height-7: var(--line-height);

  --line-height-8: var(--line-height);
  --line-height-9: var(--line-height);
}
