/*--------------------------------------------------------------
# GUTTER
--------------------------------------------------------------*/
:root {
  --gutter: 2.4rem;
}

/*--------------------------------------------------------------
# LAYOUT WIDTH
Wordpress Customizer Setting will override this because it's inline
--------------------------------------------------------------*/
:root {
  --max-width-1: 100%;
  --max-width-2: 128rem;
  --max-width-3: 76.8rem;
}

/*--------------------------------------------------------------
# COLORS - FALLBACK
Wordpress Customizer Setting will override this because it's inline
--------------------------------------------------------------*/
:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-1: #058935;
  --color-2: #1f518e;
  --color-3: #7c0202;

  --color-4: #141414;
  --color-5: #c4c4c4;
  --color-6: #212121;
}

/*--------------------------------------------------------------
# FONT - FALLBACK
Wordpress Customizer Setting will override this because it's inline
--------------------------------------------------------------*/
:root {
  /* Modular Scale */
  --fontsize-min: 1.6;
  --fontsize-max: 3.2;
  --fontsize-minwidth: 100;
  --fontsize-maxwidth: 200;
  --fontsize-ratio: 1.125;
}

/*--------------------------------------------------------------
# LINE HEIGHT
Wordpress Customizer Setting will override this because it's inline
--------------------------------------------------------------*/
:root {
  --line-height-a: var(--line-height);
  --line-height-b: var(--line-height);
  --line-height-c: var(--line-height);

  --line-height-0: var(--line-height);
  --line-height-1: var(--line-height);
  --line-height-2: var(--line-height);
  --line-height-3: var(--line-height);
  --line-height-4: var(--line-height);
  --line-height-5: var(--line-height);
  --line-height-6: var(--line-height);
  --line-height-7: var(--line-height);

  --line-height-8: var(--line-height);
  --line-height-9: var(--line-height);
}

/*--------------------------------------------------------------
# FONT FAMILY - TODO: Add to Customizer
--------------------------------------------------------------*/
:root {
  /* Font Family */
  --font-family: 'Poppins', sans-serif;
  --font-family-2: 'Hind', sans-serif;
  --font-family-3: 'monospace';
}